<div style="border:solid Chocolate 2px; padding: 40px">

<b> –ê–ª–µ–∫—Å–∞–Ω–¥—Ä, –ø—Ä–∏–≤–µ—Ç!üëã</b>

–ú–µ–Ω—è –∑–æ–≤—É—Ç –ê–ª–µ–∫—Å–µ–π –ì—Ä–∏–±, –∏ —è –±—É–¥—É —Ä–µ–≤—å—é–µ—Ä–æ–º —Ç–≤–æ–µ–≥–æ –ø—Ä–æ–µ–∫—Ç–∞. 

–°—Ä–∞–∑—É —Ö–æ—á—É –ø—Ä–µ–¥–ª–æ–∂–∏—Ç—å –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–º –æ–±—â–∞—Ç—å—Å—è –Ω–∞ "—Ç—ã" - –Ω–∞–¥–µ—é—Å—å, —Ç–∞–∫ –±—É–¥–µ—Ç –∫–æ–º—Ñ–æ—Ä—Ç–Ω–µ–µ:) –ù–æ –µ—Å–ª–∏ —ç—Ç–æ –Ω–µ—É–¥–æ–±–Ω–æ, –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –¥–∞–π –∑–Ω–∞—Ç—å, –∏ –º—ã –ø—Ä–∏–¥—É–º–∞–µ–º —á—Ç–æ-–Ω–∏–±—É–¥—å –µ—â—ë!
    
–¶–µ–ª—å —Ä–µ–≤—å—é - –Ω–µ –∏—Å–∫–∞—Ç—å –æ—à–∏–±–∫–∏ –≤ —Ç–≤–æ—ë–º –ø—Ä–æ–µ–∫—Ç–µ, –∞ –ø–æ–º–æ—á—å —Ç–µ–±–µ —Å–¥–µ–ª–∞—Ç—å —Ç–≤–æ—é —Ä–∞–±–æ—Ç—É –µ—â—ë –ª—É—á—à–µ, —É—Å—Ç—Ä–∞–Ω–∏–≤ –Ω–µ–¥–æ—á—ë—Ç—ã –∏ –ø—Ä–∏–±–ª–∏–∑–∏–≤ –µ—ë –∫ —Ä–µ–∞–ª—å–Ω—ã–º –∑–∞–¥–∞—á–∞–º —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–∞ –ø–æ —Ä–∞–±–æ—Ç–µ —Å –¥–∞–Ω–Ω—ã–º–∏. –ü–æ—ç—Ç–æ–º—É –Ω–µ —Ä–∞—Å—Å—Ç—Ä–∞–∏–≤–∞–π—Å—è, –µ—Å–ª–∏ —á—Ç–æ-—Ç–æ –Ω–µ –ø–æ–ª—É—á–∏–ª–æ—Å—å —Å –ø–µ—Ä–≤–æ–≥–æ —Ä–∞–∑–∞ - —ç—Ç–æ –Ω–æ—Ä–º–∞–ª—å–Ω–æ, –∏ —ç—Ç–æ –ø–æ–º–æ–∂–µ—Ç —Ç–µ–±–µ –≤—ã—Ä–∞—Å—Ç–∏!
    
–¢—ã –º–æ–∂–µ—à—å –Ω–∞–π—Ç–∏ –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –æ–±–æ–∑–Ω–∞—á–µ–Ω–Ω—ã–µ <font color='green'>–∑–µ–ª–µ–Ω—ã–º</font>, <font color='gold'>–∂–µ–ª—Ç—ã–º</font> –∏ <font color='red'>–∫—Ä–∞—Å–Ω—ã–º</font> —Ü–≤–µ—Ç–∞–º–∏, –Ω–∞–ø—Ä–∏–º–µ—Ä:

<br/>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ø–æ—Ö–≤–∞–ª–∞, —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ ¬´—Å–æ –∑–≤—ë–∑–¥–æ—á–∫–æ–π¬ª, –ø–æ–ª–µ–∑–Ω—ã–µ –ª–∞–π—Ñ—Ö–∞–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ —Å–¥–µ–ª–∞—é—Ç –∏ –±–µ–∑ —Ç–æ–≥–æ –∫—Ä–∞—Å–∏–≤–æ–µ —Ä–µ—à–µ–Ω–∏–µ –µ—â—ë –±–æ–ª–µ–µ —ç–ª–µ–≥–∞–Ω—Ç–Ω—ã–º.
</div>

<br/>

<div class="alert alert-warning">
    <h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏‚ö†Ô∏è:</b> –Ω–µ–∫—Ä–∏—Ç–∏—á–Ω—ã–µ –æ—à–∏–±–∫–∏ –∏–ª–∏ —Ä–∞–∑–≤–∏–≤–∞—é—â–∏–µ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –Ω–∞ –±—É–¥—É—â–µ–µ. 
</div>


<br/>
<div class="alert alert-block alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"></h2>

    
<b>–ù–∞ –¥–æ—Ä–∞–±–æ—Ç–∫—É‚ùå:</b>
–ö—Ä–∏—Ç–∏—á–Ω—ã–µ –æ—à–∏–±–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –Ω—É–∂–Ω–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å.
</div>

    
–ü–æ–∂–∞–ª—É–π—Å—Ç–∞, –Ω–µ —É–¥–∞–ª—è–π –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –æ–Ω–∏ –±—É–¥—É—Ç –æ—Å–æ–±–µ–Ω–Ω–æ –ø–æ–ª–µ–∑–Ω—ã –¥–ª—è –Ω–∞—à–µ–π —Ä–∞–±–æ—Ç—ã –≤ —Å–ª—É—á–∞–µ –ø–æ–≤—Ç–æ—Ä–Ω–æ–π –ø—Ä–æ–≤–µ—Ä–∫–∏ –ø—Ä–æ–µ–∫—Ç–∞. 
    
–¢—ã —Ç–∞–∫–∂–µ –º–æ–∂–µ—à—å –∑–∞–¥–∞–≤–∞—Ç—å —Å–≤–æ–∏ –≤–æ–ø—Ä–æ—Å—ã, —Ä–µ–∞–≥–∏—Ä–æ–≤–∞—Ç—å –Ω–∞ –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –¥–µ–ª–∞—Ç—å –ø–æ–º–µ—Ç–∫–∏ –∏ –ø–æ—è—Å–Ω–µ–Ω–∏—è - –ø–æ–ª–Ω–∞—è —Ç–≤–æ—Ä—á–µ—Å–∫–∞—è —Å–≤–æ–±–æ–¥–∞! –ù–æ –º–∞–ª–µ–Ω—å–∫–∞—è –ø—Ä–æ—Å—å–±–∞ - –ø—É—Å–∫–∞–π –æ–Ω–∏ –±—É–¥—É—Ç –æ—Ç–ª–∏—á–∞—Ç—å—Å—è –æ—Ç –º–æ–∏—Ö –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–µ–≤, —ç—Ç–æ –ø–æ–º–æ–∂–µ—Ç –∏–∑–±–µ–∂–∞—Ç—å –ø—É—Ç–∞–Ω–∏—Ü—ã –≤ –Ω–∞—à–µ–º –æ–±—â–µ–Ω–∏–∏:)
–ù–∞–ø—Ä–∏–º–µ—Ä, –≤–æ—Ç —Ç–∞–∫:
    
<div class="alert alert-info">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ <a class="tocSkip"> </h2>

*—Ç–≤–æ–π —Ç–µ–∫—Å—Ç*
</div>
    
–î–∞–≤–∞–π –ø–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç!

# –ü—Ä–æ–µ–∫—Ç–Ω–∞—è —Ä–∞–±–æ—Ç–∞: –ê–Ω–∞–ª–∏–∑ —Å–µ—Ä–≤–∏—Å–∞ –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ.

–¶–µ–ª—å –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è: 

–ü—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö —Å–µ—Ä–≤–∏—Å–∞ –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ –∏ —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.

# –í–≤–µ–¥–µ–Ω–∏–µ

–ö–æ—Ä–æ–Ω–∞–≤–∏—Ä—É—Å –∑–∞—Å—Ç–∞–ª –º–∏—Ä –≤—Ä–∞—Å–ø–ª–æ—Ö, –∏–∑–º–µ–Ω–∏–≤ –ø—Ä–∏–≤—ã—á–Ω—ã–π –ø–æ—Ä—è–¥–æ–∫ –≤–µ—â–µ–π. –í —Å–≤–æ–±–æ–¥–Ω–æ–µ –≤—Ä–µ–º—è –∂–∏—Ç–µ–ª–∏ –≥–æ—Ä–æ–¥–æ–≤ –±–æ–ª—å—à–µ –Ω–µ –≤—ã—Ö–æ–¥—è—Ç –Ω–∞ —É–ª–∏—Ü—É, –Ω–µ –ø–æ—Å–µ—â–∞—é—Ç –∫–∞—Ñ–µ –∏ —Ç–æ—Ä–≥–æ–≤—ã–µ —Ü–µ–Ω—Ç—Ä—ã. –ó–∞—Ç–æ —Å—Ç–∞–ª–æ –±–æ–ª—å—à–µ –≤—Ä–µ–º–µ–Ω–∏ –¥–ª—è –∫–Ω–∏–≥. –≠—Ç–æ –∑–∞–º–µ—Ç–∏–ª–∏ —Å—Ç–∞—Ä—Ç–∞–ø–µ—Ä—ã ‚Äî –∏ –±—Ä–æ—Å–∏–ª–∏—Å—å —Å–æ–∑–¥–∞–≤–∞—Ç—å –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è –¥–ª—è —Ç–µ—Ö, –∫—Ç–æ –ª—é–±–∏—Ç —á–∏—Ç–∞—Ç—å.

–ù–∞—à–∞ –∫–æ–º–ø–∞–Ω–∏—è —Ä–µ—à–∏–ª–∞ –±—ã—Ç—å –Ω–∞ –≤–æ–ª–Ω–µ –∏ –∫—É–ø–∏–ª–∞ –∫—Ä—É–ø–Ω—ã–π —Å–µ—Ä–≤–∏—Å –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ. –ù–∞—à–∞ –∑–∞–¥–∞—á–∞ –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö. –í –Ω–µ–π ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –æ–±–∑–æ—Ä—ã –∫–Ω–∏–≥. –≠—Ç–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ–º–æ–≥—É—Ç —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.

**–ü–ª–∞–Ω –∏—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è:**

–®–∞–≥ 1. –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö.

–®–∞–≥ 2. –ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü.

–®–∞–≥ 3. –ê–Ω–∞–ª–∏–∑ —Ç–∞–±–ª–∏—Ü.

–®–∞–≥ 4. –í—ã–≤–æ–¥

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –•–æ—Ä–æ—à–µ–µ –≤—Å—Ç—É–ø–ª–µ–Ω–∏–µ!
    
–í –Ω—ë–º –µ—Å—Ç—å –≤—Å—ë, —á—Ç–æ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ, —á—Ç–æ–±—ã –ø–æ–Ω—è—Ç—å —Å—É—Ç—å –ø—Ä–æ–µ–∫—Ç–∞ —Å –ø–µ—Ä–≤—ã—Ö —Å—Ç—Ä–æ–∫ –æ—Ç—á—ë—Ç–∞!

## –®–∞–≥ 1. –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö.

In [1]:
import pandas as pd
import sqlalchemy as sa
from sqlalchemy import create_engine

In [2]:
db_config = {
'user': 'praktikum_student', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
'pwd': 'Sdf4$2;d-d30pp', # –ø–∞—Ä–æ–ª—å
'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
'port': 6432, # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
'db': 'data-analyst-final-project-db' # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
}

In [3]:
connection_string = 'postgresql://{user}:{pwd}@{host}:{port}/{db}'.format(**db_config)

In [4]:
engine = sa.create_engine(connection_string, connect_args={'sslmode':'require'})

In [5]:
def get_sql_data(query:str, engine:sa.engine.base.Engine=engine) -> pd.DataFrame:
    with engine.connect() as con:
        return pd.read_sql(sql=sa.text(query), con = con)

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ë–∏–±–ª–∏–æ—Ç–µ–∫–∏ –∏–º–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞–ª–∏, –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä —Å–¥–µ–ª–∞–ª–∏ - –æ—Ç–ª–∏—á–Ω–æ!

## –ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü:

### –¢–∞–±–ª–∏—Ü–∞ `books`

In [6]:
books =( '''
SELECT 
    *
FROM books
    LIMIT 5
''')    
get_sql_data(books)

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

In [7]:
books =( '''
SELECT 
    COUNT(book_id),
    COUNT(DISTINCT(book_id)) distinct,
    COUNT(DISTINCT(title)) distinct_book
FROM books
    LIMIT 5
''')    
get_sql_data(books)

   count  distinct  distinct_book
0   1000      1000            999

–î–∞–Ω–Ω—ã–µ –≤ —Ç–∞–±–ª–∏—Ü–µ `books` –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω—ã —Å–ª–µ–¥—É—é—â–∏–º–∏ —Å—Ç–æ–ª–±—Ü–∞–º–∏: `book_id` –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏, `author_id` –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞,  `title` –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏, `num_pages` –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü, `publication_date` –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏, `publisher_id` –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è. –í —Ç–∞–±–ª–∏—Ü–µ 1000 —Å—Ç—Ä–æ–∫. –£–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –Ω–∞–∑–≤–∞–Ω–∏–π –∫–Ω–∏–≥ 999

### –¢–∞–±–ª–∏—Ü–∞ `authors`

In [8]:
authors =( '''
SELECT 
    *
FROM authors
    LIMIT 5
''')    
get_sql_data(authors)

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

In [9]:
authors =( '''
SELECT 
    COUNT(author_id),
    COUNT(DISTINCT(author_id)) distinct,
    COUNT(DISTINCT(author)) distinct_author
FROM authors
    LIMIT 5
''')    
get_sql_data(authors)

   count  distinct  distinct_author
0    636       636              636

–î–∞–Ω–Ω—ã–µ –≤ —Ç–∞–±–ª–∏—Ü–µ `authors` –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω—ã —Å–ª–µ–¥—É—é—â–∏–º–∏ —Å—Ç–æ–ª–±—Ü–∞–º–∏: `author_id` –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞,  `author` –∏–º—è –∞–≤—Ç–æ—Ä–∞.  –í —Ç–∞–±–ª–∏—Ü–µ 636 —Å—Ç—Ä–æ–∫. –£–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∞–≤—Ç–æ—Ä–æ–≤ 636

### –¢–∞–±–ª–∏—Ü–∞ `publishers`

In [10]:
publishers =( '''
SELECT 
    *
FROM publishers
    LIMIT 5
''')    
get_sql_data(publishers)

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

In [11]:
publishers =( '''
SELECT 
    COUNT(publisher_id),
    COUNT(DISTINCT(publisher_id)) distinct,
    COUNT(DISTINCT(publisher)) distinct_publisher
FROM publishers
    LIMIT 5
''')    
get_sql_data(publishers)

   count  distinct  distinct_publisher
0    340       340                 340

–î–∞–Ω–Ω—ã–µ –≤ —Ç–∞–±–ª–∏—Ü–µ `publishers` –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω—ã —Å–ª–µ–¥—É—é—â–∏–º–∏ —Å—Ç–æ–ª–±—Ü–∞–º–∏: `publisher_id` –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è, `publisher` –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞. –í —Ç–∞–±–ª–∏—Ü–µ 340 —Å—Ç—Ä–æ–∫. –£–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤ 340

### –¢–∞–±–ª–∏—Ü–∞ `ratings`

In [12]:
ratings =( '''
SELECT 
    *
FROM ratings
    LIMIT 5
''')    
get_sql_data(ratings)

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

In [13]:
ratings =( '''
SELECT 
    COUNT(rating_id),
    COUNT(DISTINCT(rating_id)) distinct,
    COUNT(DISTINCT(username)) distinct
FROM ratings
    LIMIT 5
''')    
get_sql_data(ratings)

   count  distinct  distinct
0   6456      6456       160

–î–∞–Ω–Ω—ã–µ –≤ —Ç–∞–±–ª–∏—Ü–µ `ratings` –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω—ã —Å–ª–µ–¥—É—é—â–∏–º–∏ —Å—Ç–æ–ª–±—Ü–∞–º–∏: `rating_id` –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏, `book_id` –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏,   `username` –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É, `rating` –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏.  –í —Ç–∞–±–ª–∏—Ü–µ 6456 —Å—Ç—Ä–æ–∫. –£–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –æ—Ü–µ–Ω–µ–≤–∞—é—â–∏—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π 160.

### –¢–∞–±–ª–∏—Ü–∞ `reviews`

In [14]:
reviews =( '''
SELECT 
    *
FROM reviews
    LIMIT 5
''')    
get_sql_data(reviews)

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...

In [15]:
reviews =( '''
SELECT 
    COUNT(review_id),
    COUNT(DISTINCT(review_id)) distinct,
    COUNT(DISTINCT(username)) distinct
FROM reviews
    LIMIT 5
''')    
get_sql_data(reviews)

   count  distinct  distinct
0   2793      2793       160

–î–∞–Ω–Ω—ã–µ –≤ —Ç–∞–±–ª–∏—Ü–µ `reviews` –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω—ã —Å–ª–µ–¥—É—é—â–∏–º–∏ —Å—Ç–æ–ª–±—Ü–∞–º–∏: `review_id` –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞, `book_id` –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏,   `username` –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è –Ω–∞–ø–∏—Å–∞–≤—à–µ–≥–æ –æ–±–∑–æ—Ä, `text` —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.  –í —Ç–∞–±–ª–∏—Ü–µ 2793 —Å—Ç—Ä–æ–∫. –£–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∫—Ä–∏—Ç–∏–∫—É—é—â–∏—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π 160.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –î–∞–Ω–Ω—ã–µ –æ—Å–º–æ—Ç—Ä–µ–ª–∏ - –æ—Ç–ª–∏—á–Ω–æ!

## –î–µ—Ç–∞–ª–∏–∑–∏—Ä–æ–≤–∞–Ω–Ω–æ–µ –∏—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ

### –ê–Ω–∞–ª–∏–∑ –¥–∞—Ç—ã –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏.
–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞

In [16]:
zad_1 =( '''

SELECT 
    COUNT(book_id) 
FROM books
    WHERE CAST(publication_date AS date) > '2000-01-01'

''')    
get_sql_data(zad_1)

   count
0    819

–ù–∞—á–∏–Ω–∞—è —Å –ø–µ—Ä–≤–æ–≥–æ —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞, –Ω–∞ —Å–µ—Ä–≤–∏–≤–µ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ –∫–Ω–∏–≥, –±—ã–ª–æ –æ–ø—É–±–ª–∏–∫–æ–≤–∞–Ω–Ω–æ 819 –∫–Ω–∏–≥

<div class="alert alert-block alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"></h2>

    
<b>–ù–∞ –¥–æ—Ä–∞–±–æ—Ç–∫—É‚ùå:</b> –ü—Ä–∏ —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω –Ω–µ–≤–µ—Ä–Ω—ã–π –≥–æ–¥.

<div class="alert alert-info">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ <a class="tocSkip"> </h2>

*–ò–∑–º–µ–Ω–∏–ª –≥–æ–¥ –Ω–∞ 2000*
</div>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2 <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –£—á—Ç–µ–Ω–æ.

### –ê–Ω–∞–ª–∏–∑ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–∏.

–î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É.

In [17]:
zad_2 =( '''

WITH 

rat AS (
SELECT 
    a.author book,
    AVG(rt.rating) avg_rating
FROM books AS b 
JOIN authors a ON b.author_id=a.author_id
LEFT JOIN ratings AS rt ON b.book_id=rt.book_id
    GROUP BY a.author
    ORDER BY a.author
),

rev AS(
SELECT 
    a.author book,
    COUNT(rv.review_id) count_review
FROM books AS b 
JOIN authors a ON b.author_id=a.author_id
LEFT JOIN reviews AS rv ON b.book_id=rv.book_id
    GROUP BY a.author
    ORDER BY a.author
)

SELECT 
    rat.book,
    rev.count_review,
    ROUND(rat.avg_rating, 2) avg_rating
FROM rat 
JOIN rev ON rat.book=rev.book
    LIMIT 5
''')    
get_sql_data(zad_2)

                             book  count_review  avg_rating
0                      A.S. Byatt             3        4.00
1  Aesop/Laura Harris/Laura Gibbs             2        3.75
2                 Agatha Christie            28        4.28
3                   Alan Brennert             4        3.00
4        Alan Moore/David   Lloyd             3        4.22

–ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ —Ä–µ–π—Ç–µ–Ω–≥–∏ –∫–Ω–∏–≥ –∫–∞–∫ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã—Ö –æ—Ü–µ–Ω–æ–∫ –æ—Ç–ª–∏—á–∞—é—Ç—Å—è —É —Ä–∞–∑–Ω—ã—Ö –∫–Ω–∏–≥.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ú–µ—Ç—Ä–∏–∫–∏ –¥–ª—è –∫–Ω–∏–≥ –ø–æ—Å—á–∏—Ç–∞–Ω—ã –≤–µ—Ä–Ω–æ! –ó–¥–æ—Ä–æ–≤–æ, —á—Ç–æ –º–µ—Ç—Ä–∏–∫–∏ –ø–æ—Å—á–∏—Ç–∞–Ω—ã –∏ –¥–ª—è —Ç–µ—Ö –∫–Ω–∏–≥, –¥–ª—è –∫–æ—Ç–æ—Ä—ã—Ö –Ω–µ—Ç –æ—Ç–∑—ã–≤–æ–≤ - –¥–æ–≤–æ–ª—å–Ω–æ —á–∞—Å—Ç–∞—è –æ—à–∏–±–∫–∞ –≤ —ç—Ç–æ–º –∑–∞–¥–∞–Ω–∏–∏:)

</div>

<div class="alert alert-block alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"></h2>

    
<b>–ù–∞ –¥–æ—Ä–∞–±–æ—Ç–∫—É‚ùå:</b> –î–ª—è –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥ –≤–º–µ—Å—Ç–æ `id` —Å—Ç–æ–∏—Ç –≤—ã–≤–µ—Å—Ç–∏ —è–≤–Ω–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ.

<div class="alert alert-info">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ <a class="tocSkip"> </h2>

*–ü–æ–º–µ–Ω—è–ª –∏–Ω–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥*
</div>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2 <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –£—á—Ç–µ–Ω–æ.

In [18]:
zad_2 =( '''

WITH 

rat AS (
SELECT 
    b.book_id book,
    AVG(rt.rating) avg_rating
FROM books AS b 
LEFT JOIN ratings AS rt ON b.book_id=rt.book_id
    GROUP BY b.book_id
    ORDER BY b.book_id
),

rev AS(
SELECT 
    b.book_id book,
    COUNT(rv.review_id) count_review
FROM books AS b 
LEFT JOIN reviews AS rv ON b.book_id=rv.book_id
    GROUP BY b.book_id
    ORDER BY b.book_id
),

alls AS(
SELECT 
    rat.book,
    rev.count_review,
    ROUND(rat.avg_rating, 2) avg_rating
FROM rat 
JOIN rev ON rat.book=rev.book
)
 
SELECT 
    ROUND(AVG(count_review), 2) avg_review,    
    MAX(count_review) max_review,
    MIN(count_review) min_review,
    ROUND(AVG(avg_rating), 2) avg_rating,
    MAX(avg_rating) max_rating,
    MIN(avg_rating) min_rating
FROM
    alls

    
   
''')    
get_sql_data(zad_2)

   avg_review  max_review  min_review  avg_rating  max_rating  min_rating
0        2.79           7           0         3.9         5.0         1.5

–°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ—Å–º–æ—Ç—Ä–æ–≤ —Ä–∞–º–Ω–æ 2,79, –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ—Å–º–æ—Ç—Ä–æ–≤ 7,
–º–∏–Ω–∏–º–∞–ª—å–Ω–æ–µ 0. –°—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –∫–Ω–∏–≥–∏ —Ä–∞–≤–µ–Ω 3,9 –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–π 5, –º–∏–Ω–∏–º–∞–ª—å–Ω—ã–π 1,5

### –ê–Ω–∞–ª–∏–∑ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤

–û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ
50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã;

In [19]:
zad_3 =( '''

SELECT 
    COUNT(b.book_id),
    p.publisher_id,
    publisher
FROM books b
LEFT JOIN publishers p ON b.publisher_id=p.publisher_id
    WHERE num_pages > 50
    GROUP BY p.publisher_id
    ORDER BY COUNT(b.book_id) DESC
LIMIT 1

''')    
get_sql_data(zad_3)

   count  publisher_id      publisher
0     42           212  Penguin Books

`Penguin Books` –≠—Ç–æ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ –≤—ã–ø—É—Å—Ç–∏–ª–æ 42 –∫–Ω–∏–≥–∏ –æ–±—ä–µ–º–æ–º –±–æ–ª–µ–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü, —á—Ç–æ —è–≤–ª—è–µ—Ç—Å—è –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º —Ç–∞–∫–∏—Ö –∫–Ω–∏–≥

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ –æ–ø—Ä–µ–¥–∏–ª–∏ –≤–µ—Ä–Ω–æ! –ó–¥–æ—Ä–æ–≤–æ, —á—Ç–æ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ –≤—ã–≤–µ–¥–µ–Ω–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞:)

</div>

### –ê–Ω–∞–ª–∏–∑ –∞–≤—Ç–æ—Ä–æ–≤

–û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ
—Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏;

In [20]:
zad_4 =( '''
SELECT 
    a.author_id
FROM author a
LEFT JOIN books b ON a.author_id=b.author_id
WHERE b.book_id IN (
    SELECT 
        b.book_id
    FROM books b
    JOIN authors a ON b.author_id=a.author_id
    LEFT JOIN ratings r ON b.book_id=r.book_id
        GROUP BY b.book_id
        HAVING COUNT(r.username) >= 50
        ORDER BY AVG(r.rating) DESC, COUNT(r.username) DESC
   )
LIMIT 1
''')    
get_sql_data(zad_4)

   author_id
0        236

In [21]:
zad_4 =( '''

SELECT 
    a.author,
    ROUND(AVG(rating), 6) avg_rating
FROM authors a
LEFT JOIN books b ON a.author_id=b.author_id
LEFT JOIN ratings r ON r.book_id=b.book_id
WHERE b.book_id IN (
    SELECT 
        b.book_id
    FROM books b
    JOIN authors a ON b.author_id=a.author_id
    LEFT JOIN ratings r ON b.book_id=r.book_id
        GROUP BY b.book_id
        HAVING COUNT(r.username) >= 50
        ORDER BY  COUNT(r.username) DESC)
GROUP BY a.author    
ORDER BY AVG(rating) desc
LIMIT 1


''')    
get_sql_data(zad_4)

                       author  avg_rating
0  J.K. Rowling/Mary GrandPr√©    4.287097

–ú–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–π —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥, —Å—Ä–µ–¥–∏ –∫–Ω–∏–≥ —Å –ø—è—Ç–∏–¥–µ—Å—è—Ç—å—é –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏, —Ä–∞–≤–µ–Ω 4,29 –∏ –æ–Ω –ø—Ä–∏–Ω–∞–¥–∂–µ–∂–∏—Ç —Å–ª—É–¥—É—é—â–µ–º—É –∞–≤—Ç–æ—Ä—É `J.K. Rowling/Mary GrandPr√©`.

<div class="alert alert-block alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"></h2>

    
<b>–ù–∞ –¥–æ—Ä–∞–±–æ—Ç–∫—É‚ùå:</b> –í –∑–∞–ø—Ä–æ—Å–µ –≤—ã–ø–æ–ª–Ω—è–µ—Ç—Å—è —Ñ–∏–ª—å—Ä–∞—Ü–∏—è –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —Å—Ç—Ä–∞–Ω–∏—Ü, –∞ –Ω–µ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –æ—Ü–µ–Ω–æ–∫.

<div class="alert alert-info">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ <a class="tocSkip"> </h2>

*–ü–æ–º–µ–Ω—è–ª —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏—é*
</div>

<div class="alert alert-block alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2. <a class="tocSkip"></h2>

    
<b>–ù–∞ –¥–æ—Ä–∞–±–æ—Ç–∫—É‚ùå:</b> –¢–∞–∫ –∫–∞–∫ –≤ –ø–µ—Ä–≤–æ–º –∑–∞–ø—Ä–æ—Å–µ –¥–∞–Ω–Ω—ã–µ —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞–Ω—ã –Ω–∞ —É—Ä–æ–≤–Ω–µ –∞–≤—Ç–æ—Ä–∞, —Ç–æ —Ñ–∏–ª—å—Ç—Ä `HAVING`, –ø—Ä–∏–∑–≤–∞–Ω–Ω—ã–π –æ—Ç–±—Ä–æ—Å–∏—Ç—å –∫–Ω–∏–≥–∏ —Å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –æ—Ç–∑—ã–≤–æ–≤ –º–µ–Ω–µ–µ 50, –ø–µ—Ä–µ—Å—Ç–∞—ë—Ç —Ä–∞–±–æ—Ç–∞—Ç—å: —É –∫–∞–∂–¥–æ–≥–æ –∞–≤—Ç–æ—Ä–∞ –º–æ–∂–µ—Ç –±—ã—Ç—å –ø–æ –Ω–µ—Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ —Å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –æ—Ç–∑—ã–≤–æ–≤ –º–µ–Ω–µ–µ 50, –Ω–æ –µ—Å–ª–∏ –ø—Ä–æ—Å—É–º–º–∏—Ä–æ–≤–∞—Ç—å –æ—Ç–∑—ã–≤—ã –ø–æ –≤—Å–µ–º –∫–Ω–∏–≥–∞–º –≤ –ø—Ä–µ–¥–µ–ª–∞—Ö –∞–≤—Ç–æ—Ä–∞ (–∞ –∏–º–µ–Ω–Ω–æ —Ç–∞–∫ –∏ –ø—Ä–æ–∏—Å—Ö–æ–¥–∏—Ç –ø—Ä–∏ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–µ –Ω–∞ —É—Ä–æ–≤–Ω–µ –∞–≤—Ç–æ—Ä–∞), —Ç–æ 50 –∏ –±–æ–ª–µ–µ –æ—Ç–∑—ã–≤–æ–≤ –ª–µ–≥–∫–æ –Ω–∞–±–∏—Ä–∞–µ—Ç—Å—è. 
    
–ö–æ—Ä—Ä–µ–∫—Ç–Ω–µ–µ –∑–¥–µ—Å—å –ª–∏–±–æ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞—Ç—å —Å–Ω–∞—á–∞–ª–∞ –Ω–∞ —É—Ä–æ–≤–Ω–µ –∫–Ω–∏–≥–∏, —Ç–æ–≥–¥–∞ —Ñ–∏–ª—å—Ç—Ä `HAVING` –±—É–¥–µ—Ç —Ä–∞–±–æ—Ç–∞—Ç—å, –ª–∏–±–æ –æ—Å—Ç–∞–≤–∏—Ç—å –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫—É –ø–æ –∞–≤—Ç–æ—Ä—É, –Ω–æ –≤ –ø–æ–¥–∑–∞–ø—Ä–æ—Å–µ –Ω–∞–π—Ç–∏ –∫–Ω–∏–≥–∏, –∫–æ—Ç–æ—Ä—ã–µ –º–æ–≥—É—Ç —É—á–∞—Å—Ç–≤–æ–≤–∞—Ç—å –≤ —Ä–∞—Å—á—ë—Ç–µ —Ä–µ–π—Ç–∏–Ω–≥–∞ - —Ç–æ–≥–¥–∞ —Ñ–∏–ª—å—Ç—Ä `HAVNIG` –±—É–¥–µ—Ç –≤ —ç—Ç–æ–º –ø–æ–¥–∑–∞–ø—Ä–æ—Å–µ.
    
–¢–∞–∫–∂–µ –Ω—É–∂–Ω–æ –≤—ã–≤–µ—Å—Ç–∏ —Ç–∞–º —Ä–µ–π—Ç–∏–Ω–≥ –∞–≤—Ç–æ—Ä–∞, –∞ –Ω–µ —Ç–æ–ª—å–∫–æ –∞–≤—Ç–æ—Ä–∞.

<div class="alert alert-block alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.3 <a class="tocSkip"></h2>

    
<b>–ù–∞ –¥–æ—Ä–∞–±–æ—Ç–∫—É‚ùå:</b> –°–µ–π—á–∞—Å –¥–∞–Ω–Ω—ã–µ —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞–Ω—ã –Ω–∞ —É—Ä–æ–≤–Ω–µ –∫–Ω–∏–≥–∏, –∏ –≤ –∑–∞–ø—Ä–æ—Å–µ –≤—ã–≤–¥–µ–Ω –Ω–µ —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –∞–≤—Ç–æ—Ä–∞, –∞ —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –µ–≥–æ —Å–∞–º–æ–π –ø–æ–ø—É–ª—è—Ä–Ω–æ–π –∫–Ω–∏–≥–∏. –ß—Ç–æ–±—ã –ø—Ä–∏ —Ç–µ–∫—É—â–µ–π —Å—Ç—Ä—É–∫—Ç—É—Ä–µ –∑–∞–ø—Ä–æ—Å–∞ –ø–æ–ª—É—á–∏—Ç—å —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –∞–≤—Ç–æ—Ä–∞, –Ω—É–∂–Ω–æ –≤–∑—è—Ç—å —Å—Ä–µ–¥–Ω–µ–µ –∏–∑ —Å—Ä–µ–¥–Ω–∏—Ö —Ä–µ–π—Ç–∏–Ω–≥–æ–≤ –µ–≥–æ –∫–Ω–∏–≥.

<div class="alert alert-info">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ <a class="tocSkip"> </h2>

*–ø—Ä–µ–¥–µ–ª–∞–ª*
</div>

<div class="alert alert-block alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.4 <a class="tocSkip"></h2>

    
<b>–ù–∞ –¥–æ—Ä–∞–±–æ—Ç–∫—É‚ùå:</b> –§–∏–ª—å—Ç—Ä–∞—Ü–∏—é –Ω—É–∂–Ω–æ –≤—ã–ø–æ–ª–Ω—è—Ç—å –Ω–µ –ø–æ –∞–≤—Ç–æ—Ä—É –∫–Ω–∏–≥–∏, –∞ –ø–æ —Å–∞–º–∏–º –∫–Ω–∏–≥–∞–º, –¥–ª—è –∫–æ—Ç–æ—Ä—ã—Ö –≤—ã–ø–æ–ª–Ω—è–µ—Ç—Å—è —É—Å–ª–æ–≤–∏–µ `>= 50`.

<div class="alert alert-info">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ <a class="tocSkip"> </h2>

*–î–∞, —è –µ—â–µ –≤—á–µ—Ä–∞ –≤–µ—á–µ—Ä–æ–º —Å–¥–µ–ª–∞–ª –∏ —ç—Ç–æ—Ç –≤–∞—Ä–∏–∞–Ω—Ç –∑–∞–ø—Ä–æ—Å–∞, –Ω–æ —Å–ø–µ—à–∏–ª –∏ –±—ã–ª –Ω–µ –≤–Ω–∏–º–∞—Ç–µ–ª–µ–Ω.*
</div>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.5 <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –¢–µ–ø–µ—Ä—å –≤–µ—Ä–Ω–æ.

### –ê–Ω–∞–ª–∏–∑ –æ–±–∑–æ—Ä–æ–≤

–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏
–±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫.

In [22]:
zad_5 =( '''

SELECT 
    AVG(count_reviews) avg_reviews
FROM (
    SELECT 
        COUNT(review_id) count_reviews,
        username
    FROM reviews
        WHERE username IN (
            SELECT 
                username
            FROM ratings
                GROUP BY username
                HAVING COUNT(rating_id) > 48
            )
        GROUP BY username    
) AS f


''')    
get_sql_data(zad_5)

   avg_reviews
0         24.0

In [23]:
zad_5 =( '''

SELECT 
    COUNT(count_reviews) count_reviews
FROM (
    SELECT 
        COUNT(review_id) count_reviews,
        username
    FROM reviews
        WHERE username IN (
            SELECT 
                username
            FROM ratings
                GROUP BY username
                HAVING COUNT(rating_id) > 48
            )
        GROUP BY username    
) AS f


''')    
get_sql_data(zad_5)

   count_reviews
0             13

–°—Ä–µ–¥–Ω–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª–µ–µ 48 –æ—Ü–µ–Ω–æ–∫, —Ä–∞–≤–Ω–æ 24 –æ–±–∑–æ—Ä–∞. –û–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ç–∞–∫–∏—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π 13

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫, –ø–æ—Å—á–∏—Ç–∞–Ω–æ –≤–µ—Ä–Ω–æ!

## –í—ã–≤–æ–¥

–î–∞–Ω–Ω—ã–µ –≤ —Ç–∞–±–ª–∏—Ü–µ `books` –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω—ã —Å–ª–µ–¥—É—é—â–∏–º–∏ —Å—Ç–æ–ª–±—Ü–∞–º–∏: `book_id` –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏, `author_id` –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞,  `title` –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏, `num_pages` –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü, `publication_date` –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏, `publisher_id` –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è. –í —Ç–∞–±–ª–∏—Ü–µ 1000 —Å—Ç—Ä–æ–∫. –£–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –Ω–∞–∑–≤–∞–Ω–∏–π –∫–Ω–∏–≥ 999

–î–∞–Ω–Ω—ã–µ –≤ —Ç–∞–±–ª–∏—Ü–µ `authors` –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω—ã —Å–ª–µ–¥—É—é—â–∏–º–∏ —Å—Ç–æ–ª–±—Ü–∞–º–∏: `author_id` –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞,  `author` –∏–º—è –∞–≤—Ç–æ—Ä–∞.  –í —Ç–∞–±–ª–∏—Ü–µ 636 —Å—Ç—Ä–æ–∫. –£–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∞–≤—Ç–æ—Ä–æ–≤ 636

–î–∞–Ω–Ω—ã–µ –≤ —Ç–∞–±–ª–∏—Ü–µ `publishers` –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω—ã —Å–ª–µ–¥—É—é—â–∏–º–∏ —Å—Ç–æ–ª–±—Ü–∞–º–∏: `publisher_id` –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è, `publisher` –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞. –í —Ç–∞–±–ª–∏—Ü–µ 340 —Å—Ç—Ä–æ–∫. –£–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤ 340

–î–∞–Ω–Ω—ã–µ –≤ —Ç–∞–±–ª–∏—Ü–µ `ratings` –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω—ã —Å–ª–µ–¥—É—é—â–∏–º–∏ —Å—Ç–æ–ª–±—Ü–∞–º–∏: `rating_id` –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏, `book_id` –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏,   `username` –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É, `rating` –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏.  –í —Ç–∞–±–ª–∏—Ü–µ 6456 —Å—Ç—Ä–æ–∫. –£–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –æ—Ü–µ–Ω–µ–≤–∞—é—â–∏—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π 160.

–î–∞–Ω–Ω—ã–µ –≤ —Ç–∞–±–ª–∏—Ü–µ `reviews` –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω—ã —Å–ª–µ–¥—É—é—â–∏–º–∏ —Å—Ç–æ–ª–±—Ü–∞–º–∏: `review_id` –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞, `book_id` –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏,   `username` –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è –Ω–∞–ø–∏—Å–∞–≤—à–µ–≥–æ –æ–±–∑–æ—Ä, `text` —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.  –í —Ç–∞–±–ª–∏—Ü–µ 2793 —Å—Ç—Ä–æ–∫. –£–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∫—Ä–∏—Ç–∏–∫—É—é—â–∏—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π 160.

–ù–∞—á–∏–Ω–∞—è —Å –ø–µ—Ä–≤–æ–≥–æ —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞, –Ω–∞ —Å–µ—Ä–≤–∏–≤–µ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ –∫–Ω–∏–≥, –±—ã–ª–æ –æ–ø—É–±–ª–∏–∫–æ–≤–∞–Ω–Ω–æ 819 –∫–Ω–∏–≥

–ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ —Ä–µ–π—Ç–µ–Ω–≥–∏ –∫–Ω–∏–≥ –∫–∞–∫ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã—Ö –æ—Ü–µ–Ω–æ–∫ –æ—Ç–ª–∏—á–∞—é—Ç—Å—è —É —Ä–∞–∑–Ω—ã—Ö –∫–Ω–∏–≥.

–°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ —Ä–æ–≤–Ω–æ 2,79, –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ—Å–º–æ—Ç—Ä–æ–≤ 7,
–º–∏–Ω–∏–º–∞–ª—å–Ω–æ–µ 0. –°—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –∫–Ω–∏–≥–∏ —Ä–∞–≤–µ–Ω 3,9 –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–π 5, –º–∏–Ω–∏–º–∞–ª—å–Ω—ã–π 1,5

`Penguin Books` –≠—Ç–æ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ –≤—ã–ø—É—Å—Ç–∏–ª–æ 42 –∫–Ω–∏–≥–∏ –æ–±—ä–µ–º–æ–º –±–æ–ª–µ–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü, —á—Ç–æ —è–≤–ª—è–µ—Ç—Å—è –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º —Ç–∞–∫–∏—Ö –∫–Ω–∏–≥

–ú–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–π —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥, —Å—Ä–µ–¥–∏ –∫–Ω–∏–≥ —Å –ø—è—Ç–∏–¥–µ—Å—è—Ç—å—é –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏, —Ä–∞–≤–µ–Ω 4,29 –∏ –æ–Ω –ø—Ä–∏–Ω–∞–¥–∂–µ–∂–∏—Ç —Å–ª—É–¥—É—é—â–µ–º—É –∞–≤—Ç–æ—Ä—É `J.K. Rowling/Mary GrandPr√©`.

–°—Ä–µ–¥–Ω–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª–µ–µ 48 –æ—Ü–µ–Ω–æ–∫, —Ä–∞–≤–Ω–æ 24 –æ–±–∑–æ—Ä–∞.

### –ò—Ç–æ–≥–æ–≤—ã–π –≤—ã–≤–æ–¥

–ö—É–ø–ª–µ–Ω –º–∞–ª–µ–Ω—å–∫–∏–π —Å–µ—Ä–≤–∏—Å –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ,  –≤ —Å–µ—Ä–≤–∏—Å–µ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–æ –≤—Å–µ–≥–æ 1000 –∫–Ω–∏–≥ 81% –∏–∑ –∫–æ—Ç–æ—Ä—ã—Ö —Å–æ–≤—Ä–µ–º–µ–Ω–Ω—ã–µ.  –ù–∞ —Å–µ—Ä–≤–∏—Å–µ –ø—É–±–ª–∏–∫—É—é—Ç—Å—è 636 –∞–≤—Ç–æ—Ä–æ–≤ –∏–∑ 340  –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤. –†–µ–π—Ç–∏–Ω–≥–∏ –∏ –æ–±–∑–æ—Ä—ã –Ω–∞ —Å–µ—Ä–≤–∏—Å–µ –æ—Ç–ª–∏—á–∞—é—Ç—Å—è, –æ–Ω–∏ "–Ω–µ –Ω–∞–∫—Ä—É—á–µ–Ω—ã", –Ω–æ –∞–∫—Ç–∏–≤–Ω–∞—è –∞—É–¥–∏—Ç–æ—Ä–∏—è –º–∞–ª–µ–ª–µ–Ω—å–∫–∞—è, –≤—Å–µ–≥–æ –∏–∑ 160 –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π 13 –∞–∫—Ç–∏–≤–Ω—ã—Ö.

### –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏
- –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ —É–≤–µ–ª–∏—á–∏–≤–∞—Ç—å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ –Ω–∞ —Å–µ—Ä–≤–∏—Å–µ.
- –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –ø—Ä–∏–≤–ª–µ–∫–∞—Ç—å –∫–∞–∫ –∞–≤—Ç–æ—Ä–æ–≤ —Ç–∞–∫ –∏ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞.
- –ù–µ–æ–±—Ö–æ–¥–∏–º–æ —É–≤–µ–ª–∏—á–∏–≤–∞—Ç—å –∫–∞–∫ —Å–∞–º—É –∞—É–¥–∏—Ç–æ—Ä–∏—é —á–∏—Ç–∞—Ç–µ–ª–µ–π —Ç–∞–∫ –∏ –µ–µ –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç—å.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –û—Ç–ª–∏—á–Ω—ã–π –∏—Ç–æ–≥–æ–≤—ã–π –≤—ã–≤–æ–¥ –ø–æ –ø—Ä–æ–µ–∫—Ç—É!

<div style="border:solid Chocolate 2px; padding: 40px">

# –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞: –æ–±—â–∏–π –≤—ã–≤–æ–¥ –ø–æ –ø—Ä–æ–µ–∫—Ç—É.

–ê–ª–µ–∫—Å–∞–Ω–¥—Ä, —Ö–æ—Ä–æ—à–∞—è —Ä–∞–±–æ—Ç–∞ –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º - —á–∞—Å—Ç—å –∑–∞–¥–∞–Ω–∏–π —É —Ç–µ–±—è –≤—ã–ø–æ–ª–Ω–µ–Ω—ã –≤–µ—Ä–Ω–æ!

–ú–Ω–µ –Ω—Ä–∞–≤–∏—Ç—Å—è —Ç–≤–æ–π –∞–Ω–∞–ª–∏—Ç–∏—á–µ—Å–∫–∏–π –ø–æ–¥—Ö–æ–¥ –∫ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—é –ø—Ä–æ–µ–∫—Ç–∞, —Ç—ã —Å–æ–±–ª—é–¥–∞–µ—à—å —Å—Ç—Ä—É–∫—Ç—É—Ä—É —Ä–∞–±–æ—Ç—ã, –≤—ã–ø–æ–ª–Ω—è–µ—à—å –µ—ë –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ - —ç—Ç–æ –æ—á–µ–Ω—å —Ö–æ—Ä–æ—à–æ! –®–∞–≥–∏ –ø—Ä–æ–µ–∫—Ç–∞ –≤—ã–ø–æ–ª–Ω–µ–Ω—ã –ø–æ –ø–æ—Ä—è–¥–∫—É —Å–æ–≥–ª–∞—Å–Ω–æ –ø–ª–∞–Ω—É –ø—Ä–æ–µ–∫—Ç–∞, –Ω–µ—Ç —Å–º—ã—Å–ª–æ–≤—ã—Ö –∏ —Å—Ç—Ä—É–∫—Ç—É—Ä–Ω—ã—Ö —è–º. –í–∞–∂–Ω–æ, —á—Ç–æ –Ω–µ –∑–∞–±—ã–≤–∞–µ—à—å –ø—Ä–æ –≤—ã–≤–æ–¥—ã.
    
SQL –∑–∞–ø—Ä–æ—Å—ã –Ω–∞–ø–∏—Å–∞–Ω—ã —Ö–æ—Ä–æ—à–æ –∏ –æ–ø—Ç–∏–º–∞–ª—å–Ω–æ, –≤ –Ω–∏—Ö –Ω–µ—Ç –∏–∑–±—ã—Ç–æ—á–Ω—ã—Ö –¥–µ–π—Å—Ç–≤–∏–π, –æ–Ω–∏ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –≤–µ—Ä–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç - —ç—Ç–æ –∑–¥–æ—Ä–æ–≤–æ, –∫–∞–∂–µ—Ç—Å—è, —Ç–µ–±–µ —É–¥–∞–ª–æ—Å—å –∑–¥–æ—Ä–æ–≤–æ —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è –≤ —Ç–µ–º–µ.
    
–ï—Å—Ç—å –Ω–µ–±–æ–ª—å—à–∏–µ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –ø–æ —É–ª—É—á—à–µ–Ω–∏—é –ø—Ä–æ–µ–∫—Ç–∞ - –Ω–µ–∫—Ä–∏—Ç–∏—á–Ω–∞—è –º–µ–ª–æ—á—å, –∫–æ—Ç–æ—Ä–∞—è –Ω–µ –∑–∞–π–º—ë—Ç –º–Ω–æ–≥–æ –≤—Ä–µ–º–µ–Ω–∏, –Ω–æ —Å–¥–µ–ª–∞–µ—Ç —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç —Å—Ç–∏–ª–∏—Å—Ç–∏—á–µ—Å–∫–∏ –±–æ–ª–µ–µ —Å–æ–≤–µ—Ä—à–µ–Ω–Ω—ã–º. –ë—É–¥–µ—Ç –∫–ª–∞—Å—Å–Ω–æ, –µ—Å–ª–∏ —ç—Ç–∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –±—É–¥—É—Ç —É—á—Ç–µ–Ω—ã –≤ —Ç–≤–æ–µ–π —Ä–∞–±–æ—Ç–µ:)
    
–ö –Ω–µ—Å–∫–æ–ª—å–∫–∏–º –∑–∞–¥–∞–Ω–∏—è–º —Å—Ç–æ–∏—Ç –≤–µ—Ä–Ω—É—Ç—å—Å—è - –∫ –Ω–∏–º —è –æ—Å—Ç–∞–≤–∏–ª –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –∫—Ä–∞—Å–Ω–æ–≥–æ —Ü–≤–µ—Ç–∞ —Å –ø–æ—è—Å–Ω–µ–Ω–∏—è–º–∏ –≤–Ω—É—Ç—Ä–∏. –î—É–º–∞—é, —Ç—ã –±—ã—Å—Ç—Ä–æ —Ä–∞–∑–±–µ—Ä—ë—à—å—Å—è, –≤ —á—ë–º –¥–µ–ª–æ.

–¢–∞–∫–∂–µ –±—É–¥—É —Ä–∞–¥ –æ—Ç–≤–µ—Ç–∏—Ç—å –Ω–∞ –ª—é–±—ã–µ —Ç–≤–æ–∏ –≤–æ–ø—Ä–æ—Å—ã –ø–æ –ø—Ä–æ–µ–∫—Ç—É –∏–ª–∏ –Ω–∞ –∫–∞–∫–∏–µ-–ª–∏–±–æ –¥—Ä—É–≥–∏–µ, –µ—Å–ª–∏ –æ–Ω–∏ —É —Ç–µ–±—è –∏–º–µ—é—Ç—Å—è - –æ—Å—Ç–∞–≤—å –∏—Ö –≤ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏—è—Ö, –∏ —è –ø–æ—Å—Ç–∞—Ä–∞—é—Å—å –æ—Ç–≤–µ—Ç–∏—Ç—å:)
    
–ñ–¥—É —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç –Ω–∞ –ø–æ–≤—Ç–æ—Ä–Ω–æ–º —Ä–µ–≤—å—é. –î–æ –≤—Å—Ç—Ä–µ—á–∏:)

<div style="border:solid Chocolate 2px; padding: 40px">

# –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞: –æ–±—â–∏–π –≤—ã–≤–æ–¥ –ø–æ –ø—Ä–æ–µ–∫—Ç—É.

–ê–ª–µ–∫—Å–∞–Ω–¥—Ä, –≤–æ—Ç –º—ã –∏ –ø—Ä–µ–æ–¥–æ–ª–µ–ª–∏ —Ñ–∏–Ω–∏—à–Ω—É—é —á–µ—Ä—Ç—É - –ø–æ–∑–¥—Ä–∞–≤–ª—è—é —Å –∑–∞–≤–µ—Ä—à–µ–Ω–∏–µ–º —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —Å–ø—Ä–∏–Ω—Ç–∞!
    
–ü—Ä–æ–¥–µ–ª–∞–Ω–∞ –±–µ–∑ —Å–æ–º–Ω–µ–Ω–∏—è –∫—Ä—É—Ç–∞—è –∏ —Ç—è–∂—ë–ª–∞—è —Ä–∞–±–æ—Ç–∞, –∏ –≤—Å–µ –ø—Ä–æ–µ–∫—Ç—ã —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —Å–ø—Ä–∏–Ω—Ç–∞ —É–¥–∞–¥–æ—Å—å –≤—ã–ø–æ–ª–Ω–∏—Ç—å –Ω–∞ –¥–æ—Å—Ç–æ–π–Ω–æ–º —É—Ä–æ–≤–Ω–µ - —É–≤–µ—Ä–µ–Ω, –µ—Å–ª–∏ —Ä–µ—à–∏—à—å —Ä–∞–∑–≤–∏–≤–∞—Ç—å—Å—è –¥–∞–ª—å—à–µ –≤ –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏–∏ –∞–Ω–∞–ª–∏—Ç–∏–∫–∏, —Ç–µ–±—è –∂–¥—ë—Ç —É—Å–ø–µ—Ö –∏ —Ö–æ—Ä–æ—à–∏–π —Ä–æ—Å—Ç:)
    
–°–ø–∞—Å–∏–±–æ –∑–∞ —Ö–æ—Ä–æ—à—É—é —Ä–∞–±–æ—Ç—É –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–∞–º–∏ —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —Å–ø—Ä–∏–Ω—Ç–∞, –∂–µ–ª–∞—é –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –ø—Ä–æ—Ñ–µ—Å—Å–∏–æ–Ω–∞–ª—å–Ω–æ–≥–æ —Ä–æ—Å—Ç–∞ –∏ —Ä–∞–∑–≤–∏—Ç–∏—è, –ø—Ä–æ–µ–∫—Ç–æ–≤ –¥–ª—è –ø—Ä–∏–º–µ–Ω–µ–Ω–∏—è –Ω–∞ –ø—Ä–∞–∫—Ç–∏–∫–µ –ø–æ–ª—É—á–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π, –∞ —Ç–∞–∫–∂–µ –∞–¥–µ–∫–≤–∞—Ç–Ω—ã—Ö –∑–∞–∫–∞–∑—á–∏–∫–æ–≤:)